[run]
source =
    imagersite
    imager_profile
    imager_images

omit = 
    */migrations/*
    */tests.py
    manage.py
    imagersite/wsgi.py
    */apps.py
    */settings.py

[report]
show_missing = True
