{% extends 'imagersite/base.html' %}

{% block title %}Login{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '#' %}">
{% endblock %}

{% block body %}
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-header">Sign in here</h2>
        {{ form.as_table }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="/profile/" />
    </form>
{% endblock %}