{% extends 'imagersite/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="registration" class="col-md-11">
  <form method="POST" class="form-signin">
    <h2 class="form-signin-header">Register Here:</h2>
    {% csrf_token %}
    {% for field in form %}
    <fieldset class="control-group">
      <label class="control-label" for="id_{{ field.name }}">
        {{ field.label }}
      </label>
      <div class="controls">
        {{ field }}
      </div>
    </fieldset>
    {% endfor %}
    <button class="btn btn-lg btn-info btn-theme" type="submit">
      Register
    </button>
  </form>
</div>
{% endblock %}


<!-- 
{% extends 'imagersite/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div id="registration" class="col-md-11">
  <form method="POST" class="form-signin">
    <h2 class="form-signin-header">Register Here:</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-info btn-theme" type="submit">Register</button>
  </form>
</div>
{% endblock %}
 -->