{% extends 'imagersite/base.html' %}
{% load thumbnail %}


{% block content %}

{% if user.is_authenticated %}

<h2> Albums </h2>

<div class="stacks">
  {% for album in albums %}
  <div>
  <h2>{{ album.title }}</h2>
  <a href="/albums/{{ album.id }}">
    <img src="{{ album.cover.image.url }}" />
  </a>
  </div>
  {% endfor %}
</div>


<h2>Photos</h2>

<div class="stacks">
{% for photo in photos %}
<a href="{{ photo.id }}">
  <img class="stacks" src="{{ photo.image.url }}">
</a>
{% endfor %}
</div>


{% endif %}

{% endblock %}
