{% extends 'imagersite/base.html' %}
{% load thumbnail %}

{% block title %}Library{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<h2> Albums </h2>

<a href="/images/albums/add">
    <button class="btn btn-lg btn-info btn-register">Add Album</button>
</a>

<div class="stacks">
    {% for album in albums %}
    <div>
    <h2>{{ album.title }}</h2>
    <a href="/images/albums/{{ album.id }}">
        <img src="{{ album.cover.image.url }}" />
    </a>
    <a class="btn" href="/images/albums/{{ album.id }}/edit/"><button type="button" class="btn btn-primary btn-sm">Edit Album</button>
    </div>
    {% endfor %}
</div>


<h2>Photos</h2>

<a href="/images/photos/add">
    <button class="btn btn-lg btn-info btn-register">Add Photo</button>
</a>


<div class="stacks">
{% for photo in photos %}
<h3>{{ photo.title }}</h3>
<a href="/images/photos/{{ photo.id }}">
    <img class="stacks" src="{{ photo.image.url }}">
</a>
<a class="btn" href="/images/photos/{{ photo.id }}/edit/"><button type="button" class="btn btn-primary btn-sm">Edit Photo</button>
{% endfor %}
</div>


{% endif %}
{% endblock %}