{% extends 'imagersite/base.html' %}

{% block content %}
<h2>Photo: {{ photo.title }}</h2>

<img class="bigphoto" src="{{ photo.image.url }}" />


<p>Description: {{ photo.description }}
<br />Tags: 
{% for tag in photo.tags.all %}
    <a href="{% url "tag_list" tag.slug %}">{{ tag.name }}</a>
{% endfor %}
<br />Date Uploaded: {{ photo.date_uploaded }}
<br />Date Last Modified: {{ photo.date_modified }}
<br />{{ photo.published }}
{% if photo.date_published %}
<br />Date Published: {{ photo.date_published }}
</p>
{% endif %}

<h2>Photos With Similar Tags</h2>
{% for p in tag_photos %}
<a href="/images/photos/{{ photo.id }}">
    <img src='{{ photo.image.url }}' width="100px"/> 
</a>
{% endfor %}

{% endblock %}
