<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/images/favicon.ico">

  <title>{% block title %}Home{% endblock %} - Imager</title>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
  <link href="/static/css/normalize.css" rel="stylesheet">
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/custom-animations.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<!-- . . . . . . . .HEADER AND NAVIGATION . . . . . . . . . . . . . . .  . -->
  <header id="h">
    <div class="container">
      <nav class="row">
        <a href="{% url 'registration_register' %}">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
          <button class="btn btn-lg btn-info btn-register">
            Logout
          </button>
        {% else %}
          <button class="btn btn-lg btn-info btn-register">
            Register
          </button>
        </a>
        </a>
        <a href="{% url 'login' %}">
          <button class="btn btn-lg btn-info btn-register">
            Login
          </button>
        </a>
        {% endif %}
        <a href="{% url 'home' %}">
          <button class="btn btn-lg btn-info btn-register">
            Home
          </button>
        </a>
      </nav>
      <div class="row">
      <div class="col-md-10 col-md-offset-1 mt">
        <h3>Image Management System</h3>
        <h1 class="mb">Imager</h1>
      </div>
        <div class="row">
          <content class="col-md-12 mt">
          {% block header %}
          {% endblock %}
          </content>
        </div>
      </div>
    </div>
  </header>

    <nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>
    </nav>
<!-- . . . . . . . . SECTION 1 . . . . . . . . . -->

 <!--  <div id="w">
    <div class="row nopadding">
      <div class="col-md-5 col-md-offset-1 mt">
        <h4>Handsome Analytics</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="mt"><button class="btn btn-info btn-theme">Sign Up Now | 14 Days Free</button></p>
      </div>
      
      <div class="col-md-6 pull-right">
        <img src="/static/images/shot01.png" class="img-responsive alignright" alt="" data-effect="slide-right">
      </div>
    </div>
  </div> -->

<!-- . . . . . . . . SECTION 2 . . . . . . . . . -->

  <!-- <div id="picton">
    <div class="row nopadding">
      <div class="col-md-6 pull-left">
        <img src="/static/images/shot02.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
      </div>
      <div class="col-md-5 mt">
        <h4>Multiple Templates Options</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
      </div>
    </div>
  </div> -->

<!-- . . . . . . . . SECTION 3 . . . . . . . . . -->

  <!-- <div id="curious">
    <div class="row nopadding">
      <div class="col-md-5 col-md-offset-1 mt">
        <h4>Important Tools Provided</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
      </div>
      
      <div class="col-md-6 pull-right">
        <img src="/static/images/shot03.png" class="img-responsive alignright" alt="" data-effect="slide-right">
      </div>
    </div>
  </div> -->

<!-- . . . . . . . . SECTION 4 . . . . . . . . . -->

  <!-- <div id="malibu">
    <div class="row nopadding">
      <div class="col-md-6 pull-left">
        <img src="/static/images/shot04.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
      </div>
      <div class="col-md-5 mt">
        <h4>Try Us For Free</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
      </div>
    </div>
  </div> -->

<!-- . . . . . . . . SECTION 5 . . . . . . . . . -->

<!--   <div id="jelly">
    <div class="row nopadding">
      <div class="col-md-5 col-md-offset-1 mt">
        <h4>Don't Wait, Try Us Now</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
      </div>
      
      <div class="col-md-6 mt centered">
        <h1 data-effect="slide-bottom">24</h1>
        <h3>$ per month</h3>
      </div>
    </div>
  </div> -->

<!-- . . . . . . . . FOOTER 1 . . . . . . . . . -->

<!--   <footer id="f">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <h4 class="mb">Grab Our Offer Now. Try Us For 14 Days Totally Free.</h4>
          <form role="form" action="register.php" method="post" enctype="plain"> 
              <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-lg btn-info btn-sub subscribe-submit' type="submit">Yes, Please</button>
          </form>
        </div>
      </div>
    </div>
  </footer> -->

<!-- . . . . . . . . FOOTER credits . . . . . . . . . -->

  <footer id="c">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 centered">
          <p>Copyright 2017 | Imager</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/retina-1.1.0.js"></script>
  <script src="/static/js/jquery.unveilEffects.js"></script>

</body>
</html>
